.page {
  min-width: 320px;
  /* выше установлена минимальная ширина страницы */
  max-width: 1280px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1280px отцентрировали весь контент */
  font-family: ' Inter', Arial, sans-serif;
  background-color: #2A2C2F;
}