.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 48px 0;
}

@media screen and (max-width: 1023px) {
    .header {
        padding: 28px 24px 0;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 16px 16px 0;
    }
}