.lead__title {
    text-align: center;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    max-width: 720px;
    margin: 0 auto;
    padding: 0;
    display: block;
}

@media screen and (max-width: 767px) {
    .lead__title {
        font-size: 40px;
        line-height: 44px;
        min-width: 288px;
        max-width: 539px;
    }
}