.intro {
    padding: 92px 0 0 100px;
    max-width: 690px;
}
@media screen and (max-width: 1023px) {
    .intro {
        padding: 88px 0 0 0;
        max-width: 720px;
    }
}
@media screen and (max-width: 767px) {
    .intro {
        padding: 64px 0 0 0;
        min-width: 288px;
    }
}