.lead__subtitle {
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    margin: 32px auto 0;
    max-width: 640px;
    padding: 0;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        margin-top: 16px;
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
    }
}