.cover__title {
    color: #FFFFFF;
    text-align: center;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    padding: 0;
    max-width: 560px;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
    }
}