.place {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    column-gap: 40px;
    row-gap: 48px;
    padding-top: 80px;
}

.place:first-child {
    padding-top: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (max-width: 1023px) {
    .place {
        grid-template-rows: repeat(2, auto);
        padding-top: 73px;
        column-gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        display: block;
        padding-top: 50px;
    }
}