.header__lang-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 17px;
}

@media screen and (max-width: 767px) {
    .header__lang-links {
        margin-top: 11px;
    }
}